

<!DOCTYPE html>
<html>
<head>
<title>History of Architecture</title>
<link rel="stylesheet" href="style.css">
</head>
<body>
<h1>History of Architecture</h1>
<p>Architecture has been around for thousands of years. The earliest known examples of architecture are from the Neolithic period, and include structures such as Stonehenge and the Great Pyramids of Giza.</p>
<p>In the ancient world, architecture was often used to express religious or political power. The temples of ancient Greece and Rome are some of the most famous examples of this type of architecture.</p>
<p>In the Middle Ages, architecture began to be used more for secular purposes, such as castles and palaces. This period also saw the development of new architectural styles, such as Gothic architecture.</p>
<p>The Renaissance was a time of great innovation in architecture. This period saw the development of new technologies, such as the use of perspective, which allowed architects to create more realistic and lifelike images of their designs.</p>
<p>The Baroque period was a time of excess and opulence in architecture. This period saw the construction of some of the most lavish and ornate buildings in history, such as the Palace of Versailles.</p>
<p>The Neoclassical period was a time of renewed interest in the classical orders of architecture. This period saw the construction of many buildings that were inspired by the ancient Greeks and Romans.</p>
<p>The Modernist movement was a time of great change in architecture. This period saw the development of new materials and technologies, such as reinforced concrete and steel, which allowed architects to create new and innovative designs.</p>
<p>Today, architecture is a diverse and ever-changing field. There are many different styles of architecture, and new ones are being developed all the time. Architecture is a reflection of the society in which it is created, and it is constantly evolving to meet the needs of the people who use it.</p>
</body>
</html>


