

<!DOCTYPE html>
<html>
<head>
<title>Architecture Tutoring Website - History of Architecture</title>
<link rel="stylesheet" href="style.css">
</head>
<body>
<h1>History of Architecture</h1>
<p>Architecture has been around for thousands of years. The earliest known examples of architecture are from the Neolithic period, and include structures such as Stonehenge and the Great Pyramids of Giza.</p>
<p>Over the centuries, architecture has evolved and changed, reflecting the different cultures and technologies of the time. Some of the most famous architects in history include:
<ul>
<li>Imhotep</li>
<li>Vitruvius</li>
<li>Brunelleschi</li>
<li>Michelangelo</li>
<li>Le Corbusier</li>
<li>Frank Lloyd Wright</li>
</ul>
<p>Today, architecture continues to evolve and change, with new technologies and materials being used to create new and innovative buildings.</p>
</body>
</html>


