

<!DOCTYPE html>
<html>
<head>
<title>Tools of Architecture</title>
<link rel="stylesheet" href="style.css">
</head>
<body>
<h1>Tools of Architecture</h1>
<p>Architects use a variety of tools to create their designs. These tools include:</p>
<ul>
<li>Drawing instruments, such as pencils, pens, and rulers</li>
<li>Computer-aided design (CAD) software</li>
<li>3D modeling software</li>
<li>Physical models</li>
<li>Building materials</li>
</ul>
<p>Drawing instruments are used to create sketches and drawings of architectural designs. CAD software is used to create digital models of buildings. 3D modeling software is used to create realistic and detailed images of buildings. Physical models are used to test the feasibility of a design and to visualize the finished product. Building materials are used to construct the actual building.</p>
<p>The tools that an architect uses depend on the specific project they are working on. For example, a residential architect may use different tools than a commercial architect. However, all architects use a combination of traditional and digital tools to create their designs.</p>
</body>
</html>


