

<!DOCTYPE html>
<html>
<head>
<title>Architecture Tutoring Website - Tools of Architecture</title>
<link rel="stylesheet" href="style.css">
</head>
<body>
<h1>Tools of Architecture</h1>
<p>Architects use a variety of tools to design and build buildings. Some of the most common tools used in architecture include:</p>
<ul>
<li>Drawing tools, such as pencils, pens, and markers</li>
<li>Rulers and measuring tapes</li>
<li>Levels and plumb bobs</li>
<li>T-squares and triangles</li>
<li>Protractors and compasses</li>
<li>Computers and software</li>
</ul>
<p>These tools help architects to create accurate drawings and plans, and to ensure that buildings are built to the correct specifications.</p>
</body>
</html>


